

/*!!!!!INDEX!!!!*/

body {
    font-size: 18px;
}


.site-title {
    color: palevioletred;
}

header, footer {
    background-color: aquamarine;
}

#my-image {
                box-shadow:0 1px 4px black, 0 0 40px rgba(0, 0, 0, 2) inset;
}



/*hobby list*/
ul {
    list-style-type: square;
    
}

li:nth-child(odd) {
    background-image: url(../images/white_brick_wall.png);
}




/*both links*/
.link {
    text-decoration: none ;
    outline: auto;
    background-color: paleturquoise;
    
}
.link:hover{
    color: red;
}


.linknotes{
    text-decoration: none;
    outline: auto;
    background-color: paleturquoise;
}
.linknotes:hover{
    color: red;
}




/*!!!!NOTES!!!!*/















































































